/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
body {
  font-family: 'Cabin', sans-serif;
}

/* PHONE VIEW */
.rover-hero-container1{
  display: none;
}


.rover-button-rover-cta-mobile{
  display: none;
}
header .rover-header-right-mobile{
  display: none;
}

.rover-mobile-hero-container{
  display:none;
}

@media (max-width: 500px){
  header .rover-header-right-mobile{
      display: block;
      margin-right: 100px;
      margin-top: 1px;
      
      
  }
  header .rover-header-right-mobile img{
    height: 15px;
    
  }
 
  header a{
      display:none;
  }

  
  .rover-button-rover-cta-mobile{
    display: block;
  }

  .rover-button-rover-cta-mobile{
    font-family: 'Nunito', Arial, sans-serif;
    color: white;
    display: inline-block;
    background-color: #14a96d;
    padding: 0.7rem 3.5rem;
    text-decoration : none;
    margin-top: -20px;
    width: 240px;
    text-align: center;
    margin-left: 10px;
    font-size: 10px;
    border-radius: 5px;
  }
  
  section .rover-button-rover-cta{
    display: none;
  }

  .rover-hero-container{
    display: none;
  }


  .rover-header-container{
    
    margin-bottom: 30px;
  }

  .rover-header-container img{
    margin-left: -65px;
    margin-bottom: 60px;
    width:75px;
    height:30px;
  }
  .rover-hero-container1{
    padding-top: 100px;
    margin-top: 100px;
    position: relative;
  background-size: cover;
  height: 60px;
  margin-top: -85px;
    background-color:white;
    display: block;

  }

  .rover-hero-container1 p{
    font-size:14px;
    margin-left:11px;
    font-weight: bold;
    margin-bottom: 20px;
  
  }
  .rover-middle-section h2{
    float: left;
    font-size: 14px;
    margin-left: 100px;
  }
  .rover-mobile-hero-container{
    display:block;
    position: absolute;
    height: 180px;
    width: 360px;
    margin-bottom: 500px;
  }
.rover-two-boxes-container{ 
    width: 1250px;
  }

  section .rover-facts-container{
   
    margin-top: 120px;
    margin-left: 10px;
  }
section .rover-facts-container img{
    width: 55px;
    height: 55px;
  }


  section .rover-facts-container h3{
    font-size:13px;
    margin-top:-50px;
    margin-left: 60px;
  }

  section .rover-facts-container p{
    font-size:13px;
    margin-left: 60px;
  }

  section .rover-cta-box{
    
    margin-top: 580px;
    margin-left: -630px;
    width: 350px;
    height: 290px;
  }
  .rover-cta-container{
    width: 350px;
    
    
  }
header.rover-cta-header{
  width: 350px;
  height: 50px;
}

header.rover-cta-header img{
  height: 22px;
  width:22px;
  margin-left: 41px;
  margin-top: 10px;
}
header.rover-cta-header p{
  font-size: 12px;
  margin-top: -20px;
  margin-left: 70px;
}


div .rover-cta-bottom-container .rover-facts li{
  font-size: 12px;
}

div .rover-cta{
  font-family: 'Nunito', Arial, sans-serif;
  color: white;
  display: inline-block;
  background-color: blue;
  padding: 1rem 3.5rem;
  text-decoration : none;
  margin-top: 2px;
  width: 220px;
  text-align: center;
  margin-left: 8px;
  font-size: 12px;
  border-radius: 5px;
}

section .rover-protect p{
  font-size: 10px;
  margin-top: 27px;
  margin-left: -10px;
}



}









/* CSS */
.flex{
  display:flex;
}

.rover-header-container{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 90px;
}

.rover-header-left {
  margin-bottom: 0px;
 margin-left:-390px;
 margin-top: 0x;
}

.rover-header-right {
  margin-right: 20px;
  margin-top: -1px;
  margin-left: 100px;
  
}

section a{
  color: black;
  text-decoration: none;
  margin-left: 20px;
  
}

.img{
  float: left;
  padding: 18px;
  margin-left: 55px;
}

.rover-hero-container{
  position: relative;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  height: 660px;
  margin-top: -55px;
}

.rover-button-rover-cta{
  font-family: 'Nunito', Arial, sans-serif;
  color: white;
  display: inline-block;
  background-color: #14a96d;
  padding: 1rem 3.5rem;
  text-decoration : none;
  margin-top: 2px;
  width: 220px;
  text-align: center;
  margin-left: 100px;
  font-size: 15px;
  border-radius: 5px;
  
}



.rover-hero-container h1{
  font-size: 60px;
  margin-left: 100px;
 padding-top: 160px;
  
}

.rover-hero-container p{
  margin-left: 100px;
  font-size: 40px;
  margin-top: -25px;
}

.rover-middle-section h2{
  text-align:center;
  margin-top: 50px;
}

.grid{
  display: grid;
}

.rover-two-boxes-container{
  margin-top: 50px;
  grid-template-columns: 600px 420px;
  gap:40px;
  margin-bottom: 100px;
  margin-left: 10px;
}

.rover-facts-container{
  grid-template-columns: 200px 300px;
  
  gap:40px;
  margin-left: 100px;
  
}

.rover-fact-indiv h3, p{
  margin-left: 90px;
  margin-top: -55px;
  margin-bottom: 40px;
}

.rover-fact-indiv p{
  margin-top: -30px;
}

.rover-cta-box{
  margin-top: 40px;
  background-color: white;
  height: 360px;
  border-radius:5px;
  border: 1px solid #dccece;
  width: 500px;
  margin-left: 83px;
}

.rover-cta-header{
  background-color: #ecebeb;
  height: 70px;
}
.rover-cta-header p{
  margin-top: -29px;
  margin-left: 96px;
  font-size: 18px;
}

.rover-cta-header img{
  margin-top: 20px;
  margin-left: 45px;
  
}

.rover-cta-bottom-container{
  margin-top: 30px;
}
.rover-cta-bottom-container .rover-facts li {
 margin-left: 20px;
 padding-bottom: 20px;
 font-size: 18px;
}

.rover-protections{
  margin-top: 45px;
  margin-left: 10px;
  text-align: center;
  
}
.rover-cta{
  font-family: 'Nunito', Arial, sans-serif;
  color: white;
  display: inline-block;
  background-color: #14a96d;
  padding: 1rem 5.5rem;
  text-decoration : none;
  margin-top: 2px;
  width: 220px;
  text-align: center;
  margin-left: 50px;
  font-size: 15px;
  border-radius: 5px;
}

.rover-action-shot{
  margin-left: 100px;
  margin-right: 100px;
  width: 1135px;  
  position: relative;
  background-image: url("../img/lady-with-her-dogs.jpg");
  background-size: cover;
  height: 515px;
  margin-top: 55px;
  display: inline-block;

}

.rover-action-quote-container{
  background-color: #ecebeb;
  width: 450px;
  height: 380px;
  margin-left:120px;
  margin-top: -65px;
  border-radius: 5px;
}

.rover-quote {
  margin-bottom: 80px;
  margin-left: 30px;
  padding-top: 50px;
  font-size: 37px;
   font-weight: bold;
   font-weight: 1000;
  
}


.rover-quote2 {
  margin-left:30px;
  margin-top: 20px;
  font-size:20px;
}


.rover-123-container{
  text-align: center;
  margin-top: 50px;
  
}

.rover-123-container-title{
  margin-bottom: 50px;
}
.rover-123-item-container{
  display: flex;
  justify-content:center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.rover-123-item1{
  width: 400px;
}

.rover-123-item1 img{
  margin-left: 20px;
  margin-top: 30px;
}

.rover-123-item1 h3{
  margin-left: -15px;
  padding-top: 10px;
}

.rover-123-item1 p{
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;

}



.rover-123-item2{
  width: 400px;
}

.rover-123-item2 img{
  margin-left: -1px;
  margin-top: 14px;
}

.rover-123-item2 h3{
  margin-left: -1px;
  padding-top: 5px;
}

.rover-123-item2 p{
  margin-left: 5px;
  text-align: center;
  margin-top: 10px;

}

.rover-123-item3{
  width: 400px;
}

.rover-123-item3 img{
  margin-left: -1px;
  margin-top: 27px;
}

.rover-123-item3 h3{
  margin-left: -1px;
  padding-top: 10px;
}

.rover-123-item3 p{
  margin-left: 5px;
  text-align: center;
  margin-top: 22px;

}






